.container-menu {
    @include display-center;
    flex-direction: column;
    background-color: $backgray;
    width: 100%;

        picture {
            @include display-center;
            width: 100%;
            height: 200px;
            position: relative;
            

                img {
                    @include pics-menu;
                }
        }

        .container-btn {
            @include display-center;
            width: 100%;
            position: relative;
            margin-bottom: 10px; // modif évaluateur
            margin-top: 30px; // modif évaluateur
        }

    @include breackpoint(desktop) {
        background: rgb(255,121,218);
        background: radial-gradient(circle, rgba(255,121,218,1) 7%, rgba(147,86,220,1) 90%);
    }
    
    @include breackpoint(largescreen) {
        background: rgb(255,121,218);
        background: radial-gradient(circle, rgba(255,121,218,1) 7%, rgba(147,86,220,1) 90%);
    }
    
    @include breackpoint(largescreen-xl) {
        background-color: darken($tertiary, 40%);
    } 
}