.container-sections {
    @include display-center;
    flex-direction: column;
    width: 100%;
    background-color: $backgray;
    position: relative;
    bottom: 25px; // modif évaluateur
    border-radius: 35px 35px 0 0;

        .title-font {
            width: 100%;
            @include display-center;
            margin-top: 20px; // modif évaluateur
            
                &--title {
                    font-size: 25px;
                    width: 70%;
                    margin-left: 30px;
                    font-family: $title_logo;
                    white-space: nowrap; // modif évaluateur
                    

                    @include breackpoint(desktop) {
                        font-size: 30px;
                    }
                    @include breackpoint(largescreen) {
                        font-size: 30px;
                    }
                    @include breackpoint(largescreen-xl) {
                        font-size: 30px;
                    }
                    
                }

                &--font {
                    color: black;
                    transition: 0.3s;
                    cursor: pointer; 
                    width: 20%; // modif évaluateur
                    margin-left: 10%; // modif évaluateur
                    font-size: x-large; // modif évaluateur 
                    
                        &:hover {
                        font-weight: bold;
                        color: rgb(147,86,220);
                        animation: pulse 3s ease infinite;
                        text-shadow: 2px 2px rgba(255,121,218,1) ;
                        }
                }
        }

    @include breackpoint(desktop) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        border-radius: 20px;
    }
    
    @include breackpoint(largescreen) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        border-radius: 20px;
    }
    
    @include breackpoint(largescreen-xl) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 45%;
        border-radius: 20px;
    } 
}