.btn {
    height: 50px;
    width: 55%; //modif évaluateur
    border-radius: 25px;
    cursor: pointer;
    border: none;
    color: white;
    font-family: $text;
    font-size: 17px;
    background: rgb(255, 121, 218);
    background: linear-gradient(175deg,rgba(255, 121, 218, 1) 1%,rgba(147, 86, 220, 1) 96%,rgba(2, 0, 36, 1) 100%);
  
            &:hover {
              background: rgba(147, 86, 220, 1);
              background: linear-gradient(175deg,rgba(255, 121, 218, 1) 30%,rgba(147, 86, 220, 1) 96%,rgba(2, 0, 36, 1) 100%);
              box-shadow: -1px 10px 5px -4px rgba(0, 0, 0, 0.21);
            }
  
            &:active {
                position: relative;
                top: 1px;
                box-shadow: none;
            } 
}

