body {
    @include margin-padding($margin:0, $padding:0); // Pour modifier les margin et padding je peu modifier la valeur apres ma variable
    box-sizing: border-box;
    position: relative;
    width: 100%;
  }

header {
    @include display-center($display:flex, $just-align:center); // parenthèse pour utilisez paramètres voir quel variable j'ai assigné dans le fichier mixin  
    flex-direction: column;    
}  

h1, p, h2, h3 {
font-family: $text;
}

li {
    list-style: none;
}
